
.message-body{
    margin: auto;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
    margin-top: 20px;
}

.card{
    margin-bottom: 0%;
}
@media (max-width: 600px) {
    .message-body{
        border: 2px solid grey;
        margin: auto;
        width: 90%;
    }
   
}
